@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.search {
    max-width: 600px;
    margin: 0 auto;
}

.FormEasy {
    position: relative;
    margin: 10vh;
    border: 1px solid black;
    padding: 40px;
}
.title{
    position: absolute;
    top: -15%;
    background-color: white;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.inputItemEasy{
    position: relative;
    width: 50%;
}
.inputEasy{
    display: flex;
}
#inputEasy{
    position: static;
    width: 100%;    
}
.ItemsEasy{
    position: absolute;
    border: .5px solid rgb(226, 216, 216);
    width: 100%;
    background-color: rgb(226, 216, 216);
    display: none;
    
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////